<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ESCapey-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>723D21021DC017FC00C7929C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>723D21161DC017FC00C7929C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>723D21211DC017FC00C7929C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
